@using MenuOrder.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MenuOrder.Models.FoodTable>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}



<h2 style="text-align:center;">QUẢN LÝ BÀN</h2>
<p>
    @Html.ActionLink("Thêm sản phẩm", "Create")
</p>
<table class="table">
    <tr>
        <th width="120px">
            Bàn
        </th>
        <th width="120px">
            Trạng thái bàn
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>


                <a href="@Url.Action("Details", "Ban",new {id=item.IdTable})" class="btn btn-sm btn-info" name="details">
                    <i class='bx bxs-detail'></i>
                </a>
                <a href="@Url.Action("Delete", "Ban",new {id=item.IdTable})" class="btn btn-sm btn-danger" name="delete">
                    <i class='bx bxs-message-square-x'></i>
                </a>
                <a href="@Url.Action("Edit", "Ban",new {id=item.IdTable})" class="btn btn-sm btn-warning" name="update">
                    <i class='bx bx-cog'></i>
                </a>
            </td>
        </tr>
    }

</table>
<div>
    Trang @(Model.PageCount < Model.PageNumber ? 0 :Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>



