@model IEnumerable<MenuOrder.Models.Food>
@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<h3 style="text-align:center">Tìm kiếm</h3>
<br />

@{
    if (Model != null)
    {

        <table class="table">
            <tr>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                   Số lượng
                </th>
                <th>
                    Trạng thái
                </th>
                <th width="200px">
                    Giá
                </th>
                <th width="200px">
                    Danh mục
                </th>
                <th>
                    Ảnh
                </th>
                <th width="100px"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.NameFood)
                    </td>
                    @* <td style="text-align:center">

            @Html.Raw(item.moTa.ToString().Replace("\n", "</p><p>"))
        </td>*@
                    <td style="text-align:center">
                        @Html.FormatValue(item.Price, "{0:#,##0}") VNĐ
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td style="text-align:center">

                        @Html.DisplayFor(modelItem => item.FoodCategory.FoodCategory1)
                    </td>
                    <td style="text-align:center">

                        <img width="140" src="~/img/products/@item.anh" alt="@item.NameFood">
                    </td>

                    <td style="text-align:center"><a style="color:brown" href="@Url.Action("ChiTietMon","Menu", new {id=item.IdFood})">Chi tiết</a></td>


                </tr>
            }
        </table>
        <br />
    }
}
    }

<style>
    a {
        text-decoration: none;
    }
</style>

